<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="HFCAutoConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <HFCAutoConfig.Properties.Settings>
            <setting name="comname" serializeAs="String">
                <value />
            </setting>
            <setting name="com_d" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="com_s" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="com_hz" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="com_devtype" serializeAs="String">
                <value />
            </setting>
            <setting name="com_devid" serializeAs="String">
                <value />
            </setting>
        </HFCAutoConfig.Properties.Settings>
    </userSettings>
</configuration>
